@import 'variables';
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@fortawesome/fontawesome-free/css/all.min.css";


@font-face {
  font-family: 'marquee-font';
  src: local('marquee-font'), url(../assets/script.ttf) format('truetype')
}

body {
  background-color: white;
  .fa-baseball-ball{
    font-size: 15em;
    color: white;
  }
  
}
