.single-view {
  display: flex;
  justify-content: center;
  .single-card {  
    min-height: 50em;
    width: 40em;
    img {
      width: 100%;
    }
    .card-body{
      background-color: #A5ACAF;
      box-shadow: 5px 3px 5px  #A5ACAF
    }
    .center {
      text-align: center;
    }
  }  
}
